@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0px;
    border: 0px;
    padding: 0px;
}
body{
    background-image: linear-gradient(90deg, rgb(108, 134, 212), rgb(203, 216, 255));
}
header{
    height: 300px;
}
.container{
    display: flex;
    gap: 4%;
}
.container > img{
    display: block;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    border: 6px solid rgb(10, 47, 100);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.64);
    margin-left: 4%;
    margin-top: 3%;
}
.inf-1{
    width: 40vw;
    font-family: "Poppins", sans-serif;
    margin-top: 3%;
    text-align: justify;
}
.inf-1 > h1{
    color: rgb(32, 34, 151);
}
.inf-1 > h2{
    font-size: 1.4vw;
    color: rgb(49, 49, 195);
    margin-bottom: 2vh;
}
.inf-1 strong{
    color: rgb(19, 21, 131) ;
}
#margin-top{
    margin-top: 15%;
}
.contato{
    display: flex;
    align-items: center;
    background-color: rgb(108, 134, 212);
    width: 22vw;
    height: 10vh;
    margin-top: 4%;
    border-radius:30px;
    transition: 0.4s;
}
.contato > img{
    width: 12%;
    margin-left: 5%;
}
.contato > h2{
    color: rgb(19, 21, 131) ;
    font-size: 1vw;
    margin-left: 2%;
    font-family: "Poppins", sans-serif;
    margin-right: 2%;
}
.contato:hover{
    transform: scale(1.1);
    transition: 0.5s;
    cursor: pointer;
}