@charset "UTF-8";

/*
 em HTML é id  =  em CSS é #
 em HTML é class  =  em CSS é .
*/
body{
    background-color: rgb(157, 247, 217);
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2{
    color:  rgb(4, 78, 47);
    text-shadow: 4px 3px 9px rgb(3, 75, 24) ;
}
#Principal{
    text-align: center;
    background-color: rgb(44, 221, 183);
}
h3{
    color:rgb(22, 75, 53);
}
p{
    text-align: justify;
}
.basico{
    color:rgb(30, 116, 35);
}
.intermediario{
    color: rgb(116, 107, 30);
}
.avancado{
    color: rgb(116, 47, 30);
}
